* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1 !important;
  height: 34px;
  width: 23px;
  margin-right: -10px;
}
